{% extends 'base.html.twig' %}

{% block body %}
    <!-- video-lightbox -->
    <div id="lightbox">
      <div class="box">
        <div class="topbar">
          <button id="hide_video">Close</button>
        </div>
        <div id="wrapper">
          <div id="ytplayer"></div>
        </div>
      </div>
    </div>

    <main>
      <!-- Editor's Pick -->
      <h2>Editor's Pick</h2>

      {% for postHighlight in postsHighlight %}

        <!-- Highlight preview-->
          <div class="container-1" 
          onclick="location.href='{{ path('post_view', {slug: postHighlight.slug}) }}';" 
          style="cursor: pointer">
            <img src="{{ postHighlight.image }}" class="show_video poster">
            <div class="container-1-txt">
              <h3 class="post-title">{{ postHighlight.title }}</h3>
              <p>{{ postHighlight.content | raw}}</p>
            </div>
          </div>

      {% endfor %}

      <!-- New and Notable -->
      <h2>New And Notable</h2>
      <nav class="nav-notable">
        <a href="{{ path('app_page_under_construction') }}">Game</a>
        <a href="{{ path('app_page_under_construction') }}">Movies</a>
        <a href="{{ path('app_page_under_construction') }}">Television</a>
        <a href="{{ path('app_page_under_construction') }}">Musics</a>
      </nav>
      <div class="scroll-h">
        <img
          src="{{ asset('assets/img/posters/8f095626844483d6c09f87bf7b9cf0bf-250h.jpg') }}"
          alt="film-poster"
        />
        <img
          src="{{ asset('assets/img/posters/8f095626844483d6c09f87bf7b9cf0bf-250h.jpg') }}"
          alt="film-poster"
        />
        <img
          src="{{ asset('assets/img/posters/8f095626844483d6c09f87bf7b9cf0bf-250h.jpg') }}"
          alt="film-poster"
        />
        <img
          src="{{ asset('assets/img/posters/8f095626844483d6c09f87bf7b9cf0bf-250h.jpg') }}"
          alt="film-poster"
        />
        <img
          src="{{ asset('assets/img/posters/8f095626844483d6c09f87bf7b9cf0bf-250h.jpg') }}"
          alt="film-poster"
        />
                <img
          src="{{ asset('assets/img/posters/8f095626844483d6c09f87bf7b9cf0bf-250h.jpg') }}"
          alt="film-poster"
        />
        <img
          src="{{ asset('assets/img/posters/8f095626844483d6c09f87bf7b9cf0bf-250h.jpg') }}"
          alt="film-poster"
        />
        <img
          src="{{ asset('assets/img/posters/8f095626844483d6c09f87bf7b9cf0bf-250h.jpg') }}"
          alt="film-poster"
        />

      </div>

      <section class="flexbox-big-container">
        <section class="row-wrap1">
          <!-- Game Review Score -->
          <section class="gameScore">
            <h2>Games Review Score</h2>

            <div class="flexbox-container-2">
              <div class="item">
                <h3>Game Title</h3>
                <p>Release date</p>
              </div>
              <div class="green-score"><p>90</p></div>
            </div>

            <div class="flexbox-container-2">
              <div class="item">
                <h3>Game Title</h3>
                <p>Release date</p>
              </div>
              <div class="yellow-score"><p>55</p></div>
            </div>

            <div class="flexbox-container-2">
              <div class="item">
                <h3>Game Title</h3>
                <p>Release date</p>
              </div>
              <div class="red-score"><p>15</p></div>
            </div>
            <div class="button-view">
              <button class="blackButton" type="button">View More</button>
            </div>
          </section>

          <!-- Movies Review Score -->
          <section class="movieScore">
            <h2>Movies Review Score</h2>

            <div class="flexbox-container-2">
              <div class="item">
                <h3>Movie Title</h3>
                <p>Release date</p>
              </div>
              <div class="green-score"><p>90</p></div>
            </div>

            <div class="flexbox-container-2">
              <div class="item">
                <h3>Movie Title</h3>
                <p>Release date</p>
              </div>
              <div class="yellow-score"><p>55</p></div>
            </div>

            <div class="flexbox-container-2">
              <div class="item">
                <h3>Movie Title</h3>
                <p>Release date</p>
              </div>
              <div class="red-score"><p>15</p></div>
            </div>
            <div class="button-view">
              <button class="blackButton" type="button">View More</button>
            </div>
          </section>
        </section>

        <section class="row-wrap2">
          <!-- TV Show Score Review -->
          <section class="tvScore">
            <h2>TV Show Review Score</h2>

            <div class="flexbox-container-2">
              <div class="item">
                <h3>TV Show Title</h3>
                <p>Release date</p>
              </div>
              <div class="green-score"><p>90</p></div>
            </div>

            <div class="flexbox-container-2">
              <div class="item">
                <h3>TV Show Title</h3>
                <p>Release date</p>
              </div>
              <div class="yellow-score"><p>55</p></div>
            </div>

            <div class="flexbox-container-2">
              <div class="item">
                <h3>TV Show Title</h3>
                <p>Release date</p>
              </div>
              <div class="red-score"><p>15</p></div>
            </div>
            <div class="button-view">
              <button class="blackButton" type="button">View More</button>
            </div>
          </section>

          <!-- Music Score Review -->
          <section class="musicScore">
            <h2>Music Review Score</h2>

            <div class="flexbox-container-2">
              <div class="item">
                <h3>Music Title</h3>
                <p>Artist | Release date</p>
              </div>
              <div class="green-score"><p>90</p></div>
            </div>

            <div class="flexbox-container-2">
              <div class="item">
                <h3>Music Title</h3>
                <p>Artist | Release date</p>
              </div>
              <div class="yellow-score"><p>55</p></div>
            </div>

            <div class="flexbox-container-2">
              <div class="item">
                <h3>Music Title</h3>
                <p>Artist | Release date</p>
              </div>
              <div class="red-score"><p>15</p></div>
            </div>
            <div class="button-view">
              <button class="blackButton" type="button">View More</button>
            </div>
          </section>
        </section>
      </section>
    </main>
{% endblock %}
