{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
    <div class="container_forms">
        <h1>REGISTER</h1>

        {{ form_start(registrationForm) }}
        <div class="label_forms">
            {{ form_row(registrationForm.email, {
        label: 'Email',
        'label_attr': {'class': 'label_forms'},
        'attr': {'class': 'champs_forms'}
    }) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password',
            'label_attr': {'class': 'label_forms'},
            'attr': {'class': 'champs_forms'}
        }) }}
        </div>
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="blackButton">Register</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
