<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    <title>Review & Critic - Reviews of Movies, TV show, Games, Musics</title>
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <a class="logo-title" href="{{ path('app_home') }}">
        <img src="{{ asset('assets/img/logo/logoR&C.png') }}" alt="logo-R&C" height="50"/>
        <h1 class="display-title">Review&Critic</h1>
      </a>
      <div class="search-signup">
        <form action="/form/submit" method="GET">
          <input
            type="text"
            maxlength="20"
            class="searchbar"
            placeholder="Search here..."
          />
        </form>
        <img
          class="search-button"
          src="{{ asset('assets/img/buttons/seachButton.png') }}"
          alt="search-button"
          height="20"
        />
        {# <button class="sign-in" type="button">Sign In</button> #}
        {% if not is_granted("ROLE_USER") %}
          {# <li class="nav-item">
            <a class="" href="{{ path('app_register') }}">S'inscrire</a>
          </li> #}
            <a class="sign-in" href="{{ path('app_login') }}">Sign In</a>
        {% else %}
            <a class="sign-in" href="{{ path('app_logout') }}">Logged as {{app.user.name}} <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
        {% endif %}

        {% if is_granted("ROLE_ADMIN") %}
            <a target="_blank" href="{{ path('admin')}}" class="sign-in">Back Office</a>
        {% endif %}

      </div>
    </header>

    <!-- dropdown menu -->
    <nav class="top-nav">
      <ul>
        <li class="nav-items nav-item-dropdown">
          <a class="dropdown-trigger" href="#">GAMES</a>
          <ul class="dropdown-menu">
            <li class="dropdown-menu-items"><a href="{{ path('post_category', {slug: 'games'}) }}">>Game Home&lt;</a></li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">New Releases</a></li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">Coming Soon</a></li>
            <li class="best">Best...</li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">Games This Year</a></li>
            <li class="dropdown-menu-items">
              <a href="{{ path('app_page_under_construction') }}">Games of All Time</a>
            </li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">Games by Genre</a></li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">New Games</a></li>
            <li>
              <p>
                Platforms: <a href="{{ path('app_page_under_construction') }}">PS5</a> <a href="{{ path('app_page_under_construction') }}">XBOX</a>
                <a href="{{ path('app_page_under_construction') }}">SWITCH</a>
              </p>
            </li>
          </ul>
        </li>

        <li class="nav-items nav-item-dropdown">
          <a class="dropdown-trigger" href="#">MOVIES</a>
          <ul class="dropdown-menu">
            <li class="dropdown-menu-items"><a href="{{ path('post_category', {slug: 'movies'}) }}">>Movie Home&lt;</a></li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">In Theaters</a></li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">Coming Soon</a></li>
            <li class="best">Best...</li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">Movie This Year</a></li>
            <li class="dropdown-menu-items">
              <a href="{{ path('app_page_under_construction') }}">Movie of All Time</a>
            </li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">Movie by Genre</a></li>
            <li class="dropdown-menu-items">
              <a href="{{ path('app_page_under_construction') }}">Film Awards & Nominations</a>
            </li>
            <li>
              <p>
                Streaming: <a href="{{ path('app_page_under_construction') }}">Nextflix</a> <a href="{{ path('app_page_under_construction') }}">Amazon</a>
                <a href="{{ path('app_page_under_construction') }}">Hulu</a>
              </p>
            </li>
          </ul>
        </li>

        <li class="nav-items nav-item-dropdown">
          <a class="dropdown-trigger" href="#">TELEVISION</a>
          <ul class="dropdown-menu-right">
            <li class="dropdown-menu-items"><a href="{{ path('post_category', {slug: 'television'}) }}">>TV Home&lt;</a></li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">TV Calendar</a></li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">Coming Soon</a></li>
            <li class="best">Best...</li>
            <li class="dropdown-menu-items">
              <a href="{{ path('app_page_under_construction') }}">TV Show This Year</a>
            </li>
            <li class="dropdown-menu-items">
              <a href="{{ path('app_page_under_construction') }}">TV Show of All Time</a>
            </li>
            <li class="dropdown-menu-items">
              <a href="{{ path('app_page_under_construction') }}">TV Show by Genre</a>
            </li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">New TV Show</a></li>
            <li>
              <p>
                Streaming: <a href="{{ path('app_page_under_construction') }}">Nextflix</a> <a href="{{ path('app_page_under_construction') }}">Amazon</a>
                <a href="{{ path('app_page_under_construction') }}">Hulu</a>
              </p>
            </li>
          </ul>
        </li>

        <li class="nav-items nav-item-dropdown">
          <a class="dropdown-trigger" href="#">MUSICS</a>
          <ul class="dropdown-menu-right">
            <li class="dropdown-menu-items"><a href="{{ path('post_category', {slug: 'musics'}) }}">>Music Home&lt;</a></li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">New Releases</a></li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">Coming Soon</a></li>
            <li class="best">Best...</li>
            <li class="dropdown-menu-items">
              <a href="{{ path('app_page_under_construction') }}">Albums This Year</a>
            </li>
            <li class="dropdown-menu-items">
              <a href="{{ path('app_page_under_construction') }}">Albums of All Time</a>
            </li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">Albums by Genre</a></li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">New Albums</a></li>
          </ul>
        </li>
      </ul>
    </nav>

        {% block body %}{% endblock %}
        
    <footer>
      <div class="logo-footer">
        <img
          src="{{ asset('assets/img/logo/logoR&C.png') }}"
          alt="logo-R&C"
          height="60"
          width="60"
        />
      </div>

      <nav class="bottom-nav">
        <a href="{{ path('app_about') }}">About</a>
        <a href="{{ path('app_contact') }}">Contact</a>
      </nav>

      <div class="logo-social">
        <a target="_blank" href="https://github.com/Vikarious/symfony-filrouge"
          ><img
            src="{{ asset('assets/img/socialLogos/GitHub/GitHub-Mark-120px-plus.png') }}"
            alt="logo-github"
            height="30"
            width="30"
        /></a>
      </div>
    </footer>
  </body>
</html>
