<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    {# <script src="./js/main.js" defer></script> #}
    <title>Review & Critic - Reviews of Movies, TV show, Games, Musics</title>
  </head>

  <body>
    <header>
      <a class="logo-title" href="{{ path('app_home') }}">
        <img src="{{ asset('assets/img/logo/logoR&C.png') }}" alt="logo-R&C" height="50px" />
        <h1>Review&Critic</h1>
      </a>
      <div class="search-signup">
        <form action="/form/submit" method="GET">
          <input
            type="text"
            maxlength="20"
            class="searchbar"
            placeholder="Search here..."
          />
          <!-- <input type="submit" name="submit" class="submit" value="Search"> -->
        </form>
        <img
          class="search-button"
          src="{{ asset('assets/img/buttons/seachButton.png') }}"
          alt="search-button"
          height="20px"
        />
        {# <button class="sign-in" type="button">Sign In</button> #}
        {% if not is_granted("ROLE_USER") %}
          {# <li class="nav-item">
            <a class="" href="{{ path('app_register') }}">S'inscrire</a>
          </li> #}
          <li class="nav-item">
            <a class="sign-in" href="{{ path('app_login') }}">Sing In</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="sign-in" href="{{ path('app_logout') }}">Connected as {{app.user.name}} / Logout</a>
          </li>
        {% endif %}

        {% if is_granted("ROLE_ADMIN") %}
          <li class="nav-item">
            <a target="_blank" href="{{ path('admin')}}" class="sign-in">Back Office</a>
          </li>
        {% endif %}

      </div>
    </header>

    <!-- dropdown menu -->
    <nav class="top-nav">
      <ul>
        <li class="nav-items nav-item-dropdown">
          <a class="dropdown-trigger" href="{{ path('app_page_under_construction') }}">GAMES</a>
          <ul class="dropdown-menu">
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">>Game Home<</a></li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">New Releases</a></li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">Coming Soon</a></li>
            <p>Best...</p>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">Games This Year</a></li>
            <li class="dropdown-menu-items">
              <a href="{{ path('app_page_under_construction') }}">Games of All Time</a>
            </li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">Games by Genre</a></li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">New Games</a></li>
            <p>
              Platforms: <a href="{{ path('app_page_under_construction') }}">PS5</a> <a href="{{ path('app_page_under_construction') }}">XBOX</a>
              <a href="{{ path('app_page_under_construction') }}">SWITCH</a>
            </p>
          </ul>
        </li>

        <li class="nav-items nav-item-dropdown">
          <a class="dropdown-trigger" href="{{ path('app_page_under_construction') }}">MOVIES</a>
          <ul class="dropdown-menu">
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">>Movie Home<</a></li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">In Theaters</a></li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">Coming Soon</a></li>
            <p>Best...</p>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">Movie This Year</a></li>
            <li class="dropdown-menu-items">
              <a href="{{ path('app_page_under_construction') }}">Movie of All Time</a>
            </li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">Movie by Genre</a></li>
            <li class="dropdown-menu-items">
              <a href="{{ path('app_page_under_construction') }}">Film Awards & Nominations</a>
            </li>
            <p>
              Streaming: <a href="{{ path('app_page_under_construction') }}">Nextflix</a> <a href="{{ path('app_page_under_construction') }}">Amazon</a>
              <a href="{{ path('app_page_under_construction') }}">Hulu</a>
            </p>
          </ul>
        </li>

        <li class="nav-items nav-item-dropdown">
          <a class="dropdown-trigger" href="{{ path('app_page_under_construction') }}">TELEVISION</a>
          <ul class="dropdown-menu-right">
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">>TV Home<</a></li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">TV Calendar</a></li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">Coming Soon</a></li>
            <p>Best...</p>
            <li class="dropdown-menu-items">
              <a href="{{ path('app_page_under_construction') }}">TV Show This Year</a>
            </li>
            <li class="dropdown-menu-items">
              <a href="{{ path('app_page_under_construction') }}">TV Show of All Time</a>
            </li>
            <li class="dropdown-menu-items">
              <a href="{{ path('app_page_under_construction') }}">TV Show by Genre</a>
            </li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">New TV Show</a></li>
            <p>
              Streaming: <a href="{{ path('app_page_under_construction') }}">Nextflix</a> <a href="{{ path('app_page_under_construction') }}">Amazon</a>
              <a href="{{ path('app_page_under_construction') }}">Hulu</a>
            </p>
          </ul>
        </li>

        <li class="nav-items nav-item-dropdown">
          <a class="dropdown-trigger" href="{{ path('app_page_under_construction') }}">MUSICS</a>
          <ul class="dropdown-menu-right">
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">>Music Home<</a></li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">New Releases</a></li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">Coming Soon</a></li>
            <p>Best...</p>
            <li class="dropdown-menu-items">
              <a href="{{ path('app_page_under_construction') }}">Albums This Year</a>
            </li>
            <li class="dropdown-menu-items">
              <a href="{{ path('app_page_under_construction') }}">Albums of All Time</a>
            </li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">Albums by Genre</a></li>
            <li class="dropdown-menu-items"><a href="{{ path('app_page_under_construction') }}">New Albums</a></li>
          </ul>
        </li>
      </ul>
    </nav>

        {% block body %}{% endblock %}
        
    <footer>
      <div class="logo-footer">
        <img
          src="{{ asset('assets/img/logo/logoR&C.png') }}"
          alt="logo-R&C"
          height="60px"
          width="60px"
        />
      </div>

      <nav class="bottom-nav">
        <a href="{{ path('app_page_under_construction') }}">About</a>
        <a href="{{ path('app_page_under_construction') }}">Terms of Use</a>
        <a href="{{ path('app_page_under_construction') }}">Contact</a>
      </nav>

      <div class="logo-social">
        <a href="https://github.com/Vikarious/Projet-Fil-Rouge" target="_blank"
          ><img
            src="{{ asset('assets/img/socialLogos/GitHub/GitHub-Mark-120px-plus.png') }}"
            alt="logo-github"
            height="30px"
            width="30px"
        /></a>
      </div>
    </footer>
  </body>
  <script src="{ asset('assets/js/lightboxVideo.js') }}"></script>
</html>
