{% extends 'base.html.twig' %}

{% block body %}
    <div class="postContainer">
        <img src="{{ post.image }}" class="show_video poster">
        <div class="container-1-txt">
            <h3 class="post-title">{{ post.title }}</h3>
            <p>{{ post.content | raw }}</p>
        </div>

    {% if not is_granted("ROLE_USER") %}
        <p></p>
    {% else %}
        {{form(form)}}
    {% endif %}

    <hr>

    {% for comment in post.comments %}
        <b>Comment: </b>
        <p>{{comment.content | raw}}</p>
        <b>Grade: </b>{{comment.grade}}
        <p>commented by : {{comment.user.name}}</p>
        <hr>
    {% endfor %}
     </div>
{% endblock %}
